In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from pandas_profiling import ProfileReport
import warnings
warnings.filterwarnings("ignore")

In [3]:
from sklearn.model_selection import train_test_split

Features

* enrollee_id : Unique ID for candidate
* city: City code
* city_ development _index : Developement index of the city (scaled)
* gender: Gender of candidate
* relevent_experience: Relevant experience of candidate
* enrolled_university: Type of University course enrolled if any
* education_level: Education level of candidate
* major_discipline :Education major discipline of candidate
* experience: Candidate total experience in years
* company_size: No of employees in current employer's company
* company_type : Type of current employer
* lastnewjob: Difference in years between previous job and current job
* training_hours: training hours completed
* target: 0 – Not looking for job change, 1 – Looking for a job change

In [7]:
# Se importa el dataframe
key = "aug.csv"
path = "../../archive/"

data = pd.read_csv (path + key)

In [8]:
data

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

In [9]:
# Se dropea la columna enrollee_id ya que no aporta información
data.drop(["enrollee_id"], axis=1, inplace=True)

In [ ]:
#  Se genera un reporte del dataset
data_report = ProfileReport(data)
data_report

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    19158 non-null  object
 1   city_development_index  19158 non-null  float64
 2   gender                  14650 non-null  object
 3   relevent_experience     19158 non-null  object
 4   enrolled_university     18772 non-null  object
 5   education_level         18698 non-null  object
 6   major_discipline        16345 non-null  object
 7   experience              19093 non-null  object
 8   company_size            13220 non-null  object
 9   company_type            13018 non-null  object
 10  last_new_job            18735 non-null  object
 11  training_hours          19158 non-null  int64
 12  target                  19158 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.9+ MB

In [11]:
# Se imprimen valores unicos de variables categoricas
categorical_cols = [c for c in data.columns if data[c].dtype == 'object']
for col in categorical_cols:
    print(f"Unique Values of {col}")
    print(data[col].unique())
    print("==========================================================================")

Unique Values of city
['city_103' 'city_40' 'city_21' 'city_115' 'city_162' 'city_176'
 'city_160' 'city_46' 'city_61' 'city_114' 'city_13' 'city_159' 'city_102'
 'city_67' 'city_100' 'city_16' 'city_71' 'city_104' 'city_64' 'city_101'
 'city_83' 'city_105' 'city_73' 'city_75' 'city_41' 'city_11' 'city_93'
 'city_90' 'city_36' 'city_20' 'city_57' 'city_152' 'city_19' 'city_65'
 'city_74' 'city_173' 'city_136' 'city_98' 'city_97' 'city_50' 'city_138'
 'city_82' 'city_157' 'city_89' 'city_150' 'city_70' 'city_175' 'city_94'
 'city_28' 'city_59' 'city_165' 'city_145' 'city_142' 'city_26' 'city_12'
 'city_37' 'city_43' 'city_116' 'city_23' 'city_99' 'city_149' 'city_10'
 'city_45' 'city_80' 'city_128' 'city_158' 'city_123' 'city_7' 'city_72'
 'city_106' 'city_143' 'city_78' 'city_109' 'city_24' 'city_134' 'city_48'
 'city_144' 'city_91' 'city_146' 'city_133' 'city_126' 'city_118' 'city_9'
 'city_167' 'city_27' 'city_84' 'city_54' 'city_39' 'city_79' 'city_76'
 'city_77' 'city_81' 'city_131' 'city_44' 'city_117' 'city_155' 'city_33'
 'city_141' 'city_127' 'city_62' 'city_53' 'city_25' 'city_2' 'city_69'
 'city_120' 'city_111' 'city_30' 'city_1' 'city_140' 'city_179' 'city_55'
 'city_14' 'city_42' 'city_107' 'city_18' 'city_139' 'city_180' 'city_166'
 'city_121' 'city_129' 'city_8' 'city_31' 'city_171']
==========================================================================
Unique Values of gender
['Male' nan 'Female' 'Other']
==========================================================================
Unique Values of relevent_experience
['Has relevent experience' 'No relevent experience']
==========================================================================
Unique Values of enrolled_university
['no_enrollment' 'Full time course' nan 'Part time course']
==========================================================================
Unique Values of education_level
['Graduate' 'Masters' 'High School' nan 'Phd' 'Primary School']
==========================================================================
Unique Values of major_discipline
['STEM' 'Business Degree' nan 'Arts' 'Humanities' 'No Major' 'Other']
==========================================================================
Unique Values of experience
['>20' '15' '5' '<1' '11' '13' '7' '17' '2' '16' '1' '4' '10' '14' '18'
 '19' '12' '3' '6' '9' '8' '20' nan]
==========================================================================
Unique Values of company_size
[nan '50-99' '<10' '10000+' '5000-9999' '1000-4999' '10/49' '100-500'
 '500-999']
==========================================================================
Unique Values of company_type
[nan 'Pvt Ltd' 'Funded Startup' 'Early Stage Startup' 'Other'
 'Public Sector' 'NGO']
==========================================================================
Unique Values of last_new_job
['1' '>4' 'never' '4' '3' '2' nan]
==========================================================================

# Analisis de datos con target 1 y datos con target 0

In [12]:
data_1 = data[data.target == 1]
data_0 = data[data.target == 0]

In [13]:
print(data_1.isnull().sum())

city                         0
city_development_index       0
gender                    1389
relevent_experience          0
enrolled_university        123
education_level            104
major_discipline           549
experience                  23
company_size              2410
company_type              2384
last_new_job               154
training_hours               0
target                       0
dtype: int64

In [14]:
print(data_0.isnull().sum())

city                         0
city_development_index       0
gender                    3119
relevent_experience          0
enrolled_university        263
education_level            356
major_discipline          2264
experience                  42
company_size              3528
company_type              3756
last_new_job               269
training_hours               0
target                       0
dtype: int64

## Dealing with missing values

In [15]:
data.isnull().sum()/(data.shape[0])

city                      0.000000
city_development_index    0.000000
gender                    0.235306
relevent_experience       0.000000
enrolled_university       0.020148
education_level           0.024011
major_discipline          0.146832
experience                0.003393
company_size              0.309949
company_type              0.320493
last_new_job              0.022080
training_hours            0.000000
target                    0.000000
dtype: float64

# **Impputar en test solo con datos de train pero no esta realizado todavia, despues hacerlo** **ver si lo pongnemos en pipeline al data wranglin o solo ponemos al preprocesamiento**

## Instancias con mas de 3 valores nulos **Asi como hay una clase para dropear columnas ver si hay una clase para dropear filas**

In [16]:
# Se eliminan las instancias con 4 o más valores nulos
print("Cantidad de instancias previa eliminación: ", data.shape[0])
print("Cantidad de instancias a eliminar: ", data[data.isnull().sum(axis=1) > 3].shape[0] )

data = data[data.isnull().sum(axis=1) < 4]

print("Cantidad de instancias post eliminación: ", data.shape[0])

Cantidad de instancias previa eliminación:  19158
Cantidad de instancias a eliminar:  878
Cantidad de instancias post eliminación:  18280

## Imputación de Company Size

In [ ]:
data.isnull().sum()

In [ ]:
data_null_size =data[data.company_size.isnull()]
data_null_size.company_type.value_counts()

In [ ]:
data["company_size"] = data.groupby(["company_type"], sort=False)["company_size"].apply(lambda x: x.fillna(x.agg(pd.Series.mode)))

In [ ]:
data.isnull().sum()

In [ ]:
# Se realiza un groupby para obtener la media de surface_covered_in_m2 en funcion de property_type , state_name y rooms
data_surfaces_imput_groupby = data.groupby(by = ["company_type"], sort=False)["company_size"].agg(pd.Series.mode)
data_surfaces_imput_groupby

# Separación en Train y Test

In [17]:
# Para probarlo dropeo todos los nulos despues sacar esto
print(data.shape[0])
data.dropna(inplace=True)
print(data.shape[0])

18280
8955

In [18]:
# Selección de variable targuet
y = data.target
# Selección de features
X = data.drop(["target"], axis = 1)

In [19]:
# Separació en train y test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 161, stratify= y)

In [20]:
# Verificación de distribución de variable targuet en train y test
display(y_train.value_counts(normalize=True))
display(y_test.value_counts(normalize=True))

0.0    0.83445
1.0    0.16555
Name: target, dtype: float64

0.0    0.834171
1.0    0.165829
Name: target, dtype: float64

In [21]:
from sklearn import preprocessing

# Transformación de variable targuet categórica en numérica
le = preprocessing.LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

## Imputación por moda (en notebook prueba esta la imputacion por moda de sklearn)

In [27]:
from sklearn.impute import SimpleImputer

#setting strategy to 'mode' to impute by the mode
mode_imputer = SimpleImputer(strategy='most_frequent')# strategy can also be mean or median 

cols_impute_mode = ["enrolled_university", "education_level", "experience", "last_new_job"]

X_train_impute_mode = X_train[cols_impute_mode]
X_train_impute_mode_encoder = mode_imputer.fit_transform(X_train_impute_mode)

X_test_impute_mode = X_test[cols_impute_mode]
X_test_impute_mode_encoder = mode_imputer.transform(X_test_impute_mode)

# Transformación de variables categóricas en numéricas

## Variables categoricas ordinales

In [28]:
relevent_experience = [ "No relevent experience", "Has relevent experience"]
enrolled_university = ["no_enrollment", "Part time course", "Full time course"]
education_level = ["Primary School", "High School", "Graduate",  "Masters", "Phd"]
experience = ["<1", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", ">20"]
company_size = ["<10", "10/49", "50-99", "100-500", "500-999", "1000-4999", "5000-9999", "10000+"]
last_new_job = ["never", "1", "2", "3", "4", ">4"]

In [29]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder(categories = [relevent_experience, enrolled_university, education_level, experience, company_size, last_new_job])

columns_ordinal_categorical = ["relevent_experience", "enrolled_university", "education_level", "experience", "company_size", "last_new_job"]

X_train_ordinal = X_train[columns_ordinal_categorical]
X_train_ordinal_encoder = ordinal_encoder.fit_transform(X_train_ordinal)

X_test_ordinal = X_test[columns_ordinal_categorical]
X_test_ordinal_encoder = ordinal_encoder.transform(X_test_ordinal)

array([[ 1.,  0.,  3., 19.,  0.,  1.],
       [ 1.,  0.,  2., 11.,  2.,  0.],
       [ 1.,  0.,  2.,  6.,  2.,  1.],
       ...,
       [ 1.,  0.,  2.,  7.,  3.,  2.],
       [ 1.,  0.,  2., 20.,  5.,  3.],
       [ 1.,  0.,  3., 21.,  3.,  5.]])

## Variables categoricas nominales

In [31]:
from sklearn.preprocessing import OneHotEncoder

columns_nominal_categorical = ["gender", "major_discipline", "company_type"]
nominal_encoder = OneHotEncoder()

X_train_nominal = X_train [columns_nominal_categorical]
X_train_nominal_encoder = nominal_encoder.fit_transform(X_train_nominal)

X_test_nominal = X_test [columns_nominal_categorical]
X_test_nominal_encoder = nominal_encoder.fit_transform(X_test_nominal)

<1906x15 sparse matrix of type '<class 'numpy.float64'>'
	with 5718 stored elements in Compressed Sparse Row format>

# Se exportan los datasets limpios

In [ ]:
# Se exporta el dataset de train limpio
data_train.to_csv("../archive/data_train_clean.csv")

In [ ]:
# Se exporta el dataset de test limpio
data_test.to_csv("../archive/data_test_clean.csv")